venv/*
predicted_digits/*
daily_images/*
shipment_validation/**/*.jpg
model_training/**/*.jpg
model_training/**/*.txt
model_training/**/*.cache
**/*.pyc
**/*.DS_Store
property_identifier/*
__pycache__/*
temp_processing/**/*.jpg
temp_processing/annotations/*
model_training/scripts/test_postgres.py